{
  env: {
    test: {
      presets: [
        [ '@babel/preset-env', {
          loose: true,
          targets: { node: 4 },
          exclude: [
            // skip some almost-compliant features on Node.js v4.x
            '@babel/plugin-transform-block-scoping',
            '@babel/plugin-transform-classes',
            '@babel/plugin-transform-for-of',
          ]
        } ]
      ],
      plugins: [
        './build/babel-plugin'
      ]
    },
    coverage: {
      presets: [
        [ '@babel/preset-env', {
          loose: true,
          targets: { node: 4 },
          exclude: [
            '@babel/plugin-transform-block-scoping',
            '@babel/plugin-transform-classes',
            '@babel/plugin-transform-for-of'
          ]
        } ]
      ],
      plugins: [
        [ 'istanbul', { exclude: [ 'src/blob.js', 'build', 'test' ] } ],
        './build/babel-plugin'
      ]
    },
    rollup: {
      presets: [
        [ '@babel/preset-env', {
          loose: true,
          targets: { node: 4 },
          exclude: [
            '@babel/plugin-transform-block-scoping',
            '@babel/plugin-transform-classes',
            '@babel/plugin-transform-for-of'
          ],
          modules: false
        } ]
      ],
      plugins: [
        '@babel/plugin-transform-runtime'
      ]
    }
  }
}
